# =========================
# Python / Django
# =========================
Backend/venv/
Backend/**/__pycache__/
Backend/**/*.py[cod]
Backend/myproject/db*.sqlite3
Backend/myproject/.env
Backend/**/staticfiles/
Backend/**/media/

*.pyc
__pycache__/

# =========================
# React / Vite
# =========================
frontend/**/node_modules/
frontend/**/dist/
frontend/.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db