.team-page{
    background:#fff;
    padding:30px;
    border-radius:18px;
}

.team-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.team-header h2{
    color: black;
    font-size:32px;
    font-weight:700;
}

.actions{
    display:flex;
    gap:15px;
}

.actions input{
    padding:12px 18px;
    border:1px solid #ddd;
    border-radius:10px;
    width:250px;
}

.actions button{
    background:#20d167;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.team-table{
    width:100%;
    border-collapse:collapse;
    overflow:hidden;
    border-radius:15px;
}

.team-table thead{
    background:#22c55e;
    color:white;
}

.team-table th{
    padding:18px;
    text-align:left;
}

.team-table td{
    padding:18px;
    border-bottom:1px solid #ececec;
}

.team-table tbody tr{
    transition:.25s;
}

.team-table tbody tr:hover{
    background:#f8fafc;
}

.team-info{
    display:flex;
    align-items:center;
    gap:12px;
}

.team-logo{
    width:40px;
    height:40px;
    object-fit:contain;
}

.points{
    background:#22c55e;
    color:white;
    padding:6px 14px;
    border-radius:30px;
    font-weight:700;
}
.no-results {
    text-align: center;
    padding: 40px;
    color: #777;
    font-size: 16px;
}